@import "tailwindcss";

@theme {
  --color-brand-yellow: #fbff4b;
  --color-brand-black: #000000;
  --color-brand-white: #ffffff;
  --color-brand-orange: #ff5c28;
  
  --font-inter: "Inter", sans-serif;
  --font-mono-custom: "Courier New", Courier, monospace;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-mono-custom {
  font-family: var(--font-mono-custom);
}
